html {
    height: 100%;
}

body {
    background-color: #181818;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #181818;
    color: #ffffff;
    padding: 10px;
    grid-template-columns: 1fr repeat(2, auto) 1fr;
    display: grid;
    justify-items: center;
    height: 28px;
}

img {
    margin: 0;
    max-height: 28px;
    width: auto;
    margin-right: 8px;
    background-size: contain;
    grid-column-start: 2;
}

h3 {
    margin: 0;
    font-size: 24px;
}

label {
  margin-left: auto; /* Push the label to the far right */
}

#map {
    height: 50vh;
    background-color: #181818;
    width: 100%;
}

.button-container {
    background-color: #181818;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    height: auto;
    overflow-y: scroll;
}

/* Custom scrollbar */
.button-container::-webkit-scrollbar {
    width: 6px;
    /* Make the scrollbar narrow */
    position: absolute;
    right: 0;
    /* Position the scrollbar to the right */
    top: 0;
}

.button-container::-webkit-scrollbar-track {
    background: transparent;
    /* Remove background behind the scrollbar */
}

.button-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    /* Set thumb color */
    border-radius: 10px;
    /* Rounded corners */
}

/* Optional: Hover effect on the thumb */
.button-container::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

.route-button {
    background-color: #181818;
    color: #ffffff;
    border: 0 solid white;
    border-bottom-width: thin;
    width: 100%;
    padding: 10px 0px;
    cursor: pointer;
    font-size: 16px;
}

.route-button:disabled {
    color: gray;
    cursor: auto;
}

.squares-container {
    display: flex;
    justify-content: center;
    border: 0 solid white;
    border-bottom-width: thin;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #404040;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 5px;
    border-radius: 5px;
}

.share-button {
    height: 50px;
    background-color: #007BFF;
    color: white;
    display: flex;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
    display: none;
}

.share-button:hover {
    background-color: #0056b3;
}

.incorrect {
    color: red;
}

.correct {
    color: green;
}