html {
    height: 100%;
}

body {
    background-color: #181818;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #181818;
    color: #ffffff;
    padding: 10px;
    grid-template-columns: 1fr auto 1fr;
    display: grid;
    justify-items: center;
    height: 28px;
}

header a {
    text-decoration: none;
    background: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-self: center;
    grid-column: 2;
}

img {
    max-height: 28px;
    width: auto;
    margin-right: 8px;
    background-size: contain;
}

h3 {
    margin: 0;
    font-size: 24px;
}

label {
    display: inline-flex;
    align-items: center;
    gap: 0.1em;
    flex-wrap: nowrap;
    justify-self: self-end;
    grid-column: 3;
}

#map {
    height: 50vh;
    background-color: #181818;
    width: 100%;
}

.button-container {
    background-color: #181818;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    height: auto;
    overflow-y: scroll;
}

.button-container::-webkit-scrollbar {
    width: 6px;
    position: absolute;
    right: 0;
    top: 0;
}

.button-container::-webkit-scrollbar-track {
    background: transparent;
}

.button-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.button-container::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

.route-button {
    background-color: #181818;
    color: #ffffff;
    border: 0 solid white;
    border-bottom-width: thin;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
}

.route-button:disabled {
    color: gray;
    cursor: auto;
}

.squares-container {
    display: flex;
    justify-content: center;
    border: 0 solid white;
    border-bottom-width: thin;
}

.square {
    width: 36px;
    height: 36px;
    background-color: #404040;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 5px;
    border-radius: 5px;
}

.share-button {
    height: 36px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    margin: 5px;
    display: none;
}

.share-button:hover {
    background-color: #0056b3;
}

.incorrect {
    color: red;
}

.correct {
    color: green;
}

.leaflet-control-container .leaflet-control-zoom .leaflet-control-zoom-in, 
.leaflet-control-container .leaflet-control-zoom .leaflet-control-zoom-out {
    background-color: black;
    color: white;
}

.leaflet-control-container .leaflet-control-attribution {
    background-color: transparent;
    color: white;
}

.leaflet-control-container .leaflet-control-attribution a {
    color: #4EA8FF;
}

.leaflet-control-container .leaflet-control-attribution a:hover {
    color: #4EA8FF;
}

.leaflet-control-container .leaflet-control-attribution a:visited {
    color: #4EA8FF;
}